<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
</head>
<style>
    .item {
        word-break: break-all;
        border: 1px solid black;
    }

    pre {
        white-space: pre-wrap;
        color: gray;
        margin: 0px;
    }

    .grayspan {
        padding: 5px;
        border-radius: 5px;
        background-color: #f2f2f2;
        display: inline-block;
    }

    .grayspan:hover {
        background-color: #e6e6e6;
        position: relative;
    }

    .grayspan .contents {
        display: none;
        position: absolute;
        background-color: #e6e6e6;
        padding: 5px;
        border-radius: 5px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: gray;
    }

    .grayspan:hover .contents {
        display: block;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
        color: black;
    }
    
</style>

<body>
    <!-- Toggle button -->
    <button id="toggle-button">Toggle</button>

    <!-- masonry layout -->
    <div id="macy-container" style="display:none">
        {{ range .Files }}
        <div class="item">
            <div class="title">{{ .Name }}</div>
            <pre>{{ .Contents }}</pre>
        </div>
        {{ end }}
    </div>

    <div class="grayspan-container">
        {{ range .Files }}
        <span class="grayspan">
            <span>{{ .Name }}</span>
            <div class="contents">{{ .Contents }}</div>
        </span>
        {{ end }}
    </div>

    <script>
        var macy = Macy({
            container: '#macy-container',
            trueOrder: false,
            waitForImages: false,
            margin: 5,
            columns: 10,
            breakAt: {
                1200: 5,
                940: 3,
                520: 2,
                400: 1
            }
        });

        var toggleButton = document.getElementById("toggle-button");
        toggleButton.addEventListener("click", function () {
            var grayspan_container = document.getElementsByClassName("grayspan-container");
            if (grayspan_container[0].style.display === "none") {
                grayspan_container[0].style.display = "block";
            } else {
                grayspan_container[0].style.display = "none";
            }

            var macy_container = document.getElementById("macy-container");
            if (macy_container.style.display === "none") {
                macy_container.style.display = "block";
                macy.recalculate(true, true);
            } else {
                macy_container.style.display = "none";
            }

        });
    </script>

</body>

</html>